
header
{
overflow: hidden;
width: 100%;
margin-top: 50px;
margin-bottom: 50px;
}
header h1
{
	font-family: cursive;
	font-size: 45px;
	font-style: italic;
	color:purple;
}
.left p{
	font-size: 18px;
}
.left h3
{
	font-size: 21px;
	color:orangered;
}
.right p{
	font-size: 18px;
}
.right h3
{
	font-size: 21px;
	color:orangered;
}
.hero
{
font-family: cursive;
	font-style: italic; 
}
.two
{
font-family: cursive;

	font-style: italic;
}
nav
{   
margin-left:200px;	
}
nav li
{
	display:inline;
	padding-right:2px;
	font-size: 20px;
	
}

.hero
{
	font-size: 22px;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
footer 
{
   background: grey;
	line-height: 15px;
}

